empy
catkin_pkg
rospkg
python-can
python-can-candle
dm_env
pexpect
minimalmodbus
pymodbus==3.5.1
pyserial
pyquaternion
pyagxrobots
pycryptodome
ipython
PyYAML
tqdm
mediapipe
PyQt5
PyQt5-sip
pyqtgraph
dm_control
uvicorn
tabulate
